extends layout

block content
  h1= title
  p Welcome to #[em Void Walker's Spaceship Store]!

  h1 Dynamic content

  p The store has the following record counts:

  ul
    li #[strong Categories:] !{category_count}
    li #[strong Spaceships:] !{ship_count}
