extends layout

block content
  h1= title
  p Welcome to #[em Void Walker's Spaceship Store]!

  p The store has the following record counts:

  ul
    li #[strong Categories:] !{categoryCount}
    li #[strong Spaceships:] !{itemCount}
