extends layout

block content

  h1 #{title}: #{item.name}

  p Enter secret key to delete this Spaceship:

  if secretkey 
    p Wrong Key!!!

  form(method='POST')
    div.form-group
      input#secretkeyid.form-control(type='text', name='secretkey', value=(secretkey || ''))
      input.form-control(type='hidden', name='itemname', value=item.name)

    button.btn.btn-primary(type='submit') Delete