extends layout

block content
  h1= title
  if itemList.length
    ul
      each item in itemList
        li
          a(href=item.url) #{item.name}
          |  (#{item.category.name})

  else
    p There are no spaceships.